.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: #fff;
  box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.1);
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 290px;
  
  margin: 0px;
  width: 79%;
  z-index: 1;
}

.header h1 {
  display: flex;
  font-weight: 600;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;
  height: 60px;
  background-color: #fff;
}



.btn button {
  display: flex;
  align-items: center;
  border: 2px solid #000;
  color: #fff;
  background-color: rgb(71, 164, 251);
  border-radius: 0px;
  padding: 5px 15px;
  width: 190px;
  height: 40px;
  font-size: 18px;
  position: relative;
    cursor: pointer;
    left: 300px;
}

.btn button:hover {
  background-color: #000;
  color: #fff;
  border: 2px solid #000;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: relative;
    right: 10px;
  width: 150px;


}

#user {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #ccc;
  color: #fff;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
  margin-left: 20px;
}

.btn a{
  text-decoration: none;
  color: #fff;
}
#menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #000;
    font-size: 20px;
    font-weight: 200;
    cursor: pointer;
    margin-left: -10px; 
    
}

.header a {
  text-decoration: none;
  color: #000;
}